@import url('https://fonts.googleapis.com/css?family=Montserrat:300');
@font-face {
    font-family: 'Charlotte Sans Book';
    src: url('../fonts/CharlotteSansBookPlain.eot');
    src: url('../fonts/CharlotteSansBookPlain.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CharlotteSansBookPlain.woff') format('woff'),
    url('../fonts/CharlotteSansBookPlain.ttf') format('truetype'),
    url('../fonts/CharlotteSansBookPlain.svg#CharlotteSansBookPlain') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CharlotteSansBoldPlain';
    src: url('../fonts/CharlotteSansBoldPlain.eot');
    src: url('../fonts/CharlotteSansBoldPlain.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CharlotteSansBoldPlain.woff') format('woff'),
    url('../fonts/CharlotteSansBoldPlain.ttf') format('truetype'),
    url('../fonts/CharlotteSansBoldPlain.svg#CharlotteSansBoldPlain') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Charlotte Sans-MediumPlain';
    src: url('../fonts/CharlotteSansMediumPlain.eot');
    src: url('../fonts/CharlotteSansMediumPlain.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CharlotteSansMediumPlain.woff') format('woff'),
    url('../fonts/CharlotteSansMediumPlain.ttf') format('truetype'),
    url('../fonts/CharlotteSansMediumPlain.svg#CharlotteSansMediumPlain') format('svg');
    font-weight: 500;
    font-style: normal;
}
body {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0;
    background: #fff;
    color: #191919;
    text-align: center;
    overflow-x: hidden;
    font-family: 'Charlotte Sans Book';
}
li {
    list-style: none;
}
ul{
	padding: 0
}
p{
    margin-bottom: 0
}
.hidden{
    display: none;
}
.m-t-10{
    margin-top: 10%;
}
.auth-container{
    background: #eaeef3;
}
.auth-container .card-header{
    padding: 10px 0 10px 20px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 24px;
    line-height: 40px;
    text-align: left;
    font-family: Lato, 'Open Sans', sans-serif;
    text-transform: uppercase;
    background: #1f4d72;
    border-radius: 4px 4px 0 0;
    position: relative;
}
.auth-container .form-field{
    position: relative;
    padding: 0 0 0 45px;
    border: 1px solid #dbdcdd;
    border-radius: 4px;
    overflow: hidden;
}
.auth-container .form-field input {
    height: 45px;
    font-size: 16px;
    font-family: Lato, 'Open Sans', sans-serif;
    padding: 0 10px;
    border: none;
    border-radius: 0;
    outline: none;
    box-shadow: none;
}
.auth-container .form-field > i {
    width: 45px;
    height: 45px;
    color: #dbdcdd;
    font-size: 24px;
    line-height: 45px;
    text-align: center;
    border-right: 1px solid #dbdcdd;
    position: absolute;
    left: 0;
    top: 0;
}
.auth-container .btn-submit {
    display: block;
    width: 100%;
    padding: 11px 0;
    margin-bottom: 10px;
    color: #fff;
    font-size: 20px;
    font-family: Lato, 'Open Sans', sans-serif;
    background: #eeb12e;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: none;
    outline: none;
    border: none;
}
.login_page--call_to_action {
    margin: 30px 0;
    width: 450px;
    color: #333;
    font-size: 18px;
    padding: 10px 5px;
    box-sizing: border-box;
    text-align: center;
}
a.login_page--register_link {
    padding: 10px 31px;
    margin-left: 20px;
    color: #fff;
    font-size: 18px;
    font-family: Lato, 'Open Sans', sans-serif;
    background: #eeb12e;
    border-radius: 4px;
    vertical-align: middle;
    text-decoration: none;
    outline: none;
    border: none;
}
#auth_menu .logo-wrapper{
    width: 15%;
    height: 100%;
    background: #fff;
    text-align: center;
    padding-top: 10px;
}
#menu {
	height: 80px;
	border-bottom: 1px solid #d0d0d0;
	background: url('../images/bg.jpg');
}
.fixed {
	position: fixed;
}
.lt1 {
	letter-spacing: 1px;
}
.menu-content {
	list-style-type: none;
	align-items: center !important;
}

.menu-content a {
	text-decoration: none !important;
	font-weight: bold;
	text-transform: uppercase;
	transition: all 0.8s ease;
}
.menu-content a:hover {
	color: #0074cf;
	transition: all 0.8s ease;
}
.login_btn_style {
	background: #5b7af8;
	color: #fff !important;
	border-radius: 10px;
	padding: 6px 30px;
}
.login_btn_style:hover {
	color: #fff;
}
footer{
    float: left;
    width: 100%;
    background: #fff;
    padding: 54px 0;
    border-top: 2px solid #edf5fd;
}
ul.list-ftr {
    width: auto;
    float: none;
    margin: 0 auto;
    display: table;
    color: #6b6b6b;
}
ul.list-ftr, .p1-ftr {
    font-size: 20px;
    line-height: 13px;
}
ul li:first-child {
    padding-left: 0;
}

ul.list-ftr li {
    float: left;
    padding: 0 13px;
    border-right: 1px solid #6b6b6b;
}
ul.list-ftr li a {
    color: #6b6b6b;
}
ul li:last-child {
    padding-right: 0;
    border-right: none;
}
.p1-ftr {
    text-align: center;
    width: 100%;
    color: #b1b0b0;
    padding-top: 27px;
    float: left;
}

ul.list-ftr, .p1-ftr {
    font-size: 20px;
    line-height: 13px;
}
.banner {
    float: left;
    width: 100%;
    background: url(../images/bg-bnr.jpg) no-repeat center top;
    height: 669px;
}
.container-bnr {
    position: relative;
}
.p1-bnr {
    text-align: left;
    padding-top: 145px;
}

.p1-bnr, .p1-abt {
    font-size: 52px;
    line-height: 52px;
    text-transform: uppercase;
}
.for-mob {
    display: none;
}
.p2-bnr {
    text-align: left;
}

.p2-bnr, .p2-abt {
    font-size: 24px;
    line-height: 30px;
    padding-top: 11px;
}

.btn-bnr {
    font-size: 20px;
    line-height: 20px;
    padding: 18px 0 14px;
    margin: 56px 0 0 12px;
    width: 222px;
    border-radius: 28px;
    float: left;
}
.btn-txt {
    color: #fff;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    background: #5b7af8;
    -webkit-box-shadow: 0px 8px 14px 2px #cedbfc;
    -moz-box-shadow: 0px 8px 14px 2px #cedbfc;
    box-shadow: 0px 8px 14px 2px #cedbfc;
}
#sidebar {
    min-width: 280px;
    max-width: 280px;
    background: #2973ad;
    color: #fff;
    transition: all 0.3s;
}
#wrapper{
    display: flex;
    width: 100%;
    align-items: stretch;
}
#content {
    width: 100%;
    /*padding: 20px;*/
    min-height: 100vh;
    transition: all 0.3s;
}
.page-header .header_nav{
    float: right;
    margin: 25px 0 0;
    list-style: none;
}
.page-header{
    text-align: right;
    height: 80px;
    margin: 0;
    padding: 0 15px 0 0;
    background: #2973ad;
}
.sidebar-header{
    background: #fff;
    height: 80px;
    padding-top: 10px;
    text-align: center;
}
.page-header .header_nav .profile .name {
    display: block;
    float: left;
    color: #fff;
    font-size: 15px;
    line-height: 17px;
    text-align: right;
    margin: 2px 8px 0 0;
}
.page-header .header_nav .profile .icon {
    float: left;
    color: #fff;
}
.page-header .header_nav li {
    float: left;
    position: relative;
}
.page-header .header_nav .dropdown-menu {
    width: 200px;
    padding: 0;
    left: auto;
    right: 0;
    top: 22px !important;
    list-style: none;
    border-bottom: 3px solid #2973ad;
    border-radius: 5px;
}
.page-header .dropdown-toggle:after{
    display: none
}
.page-header .header_nav .dropdown-menu li:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
}

.page-header .header_nav .dropdown-menu li, .page-header .header_nav .dropdown-menu li:last-child {
    float: left;
    width: 100%;
    margin: 0;
}
.page-header .header_nav li {
    float: left;
    position: relative;
    margin: 5px 20px 0 20px;
}
.page-header .header_nav .dropdown-menu li a {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding: 8px 15px 7px;
    font-size: 14px;
    margin: 0;
    border-bottom: 1px solid #2973ad;
    color: #1A1A1A;
    text-decoration: none;
    text-align: left;
}
.page-header .header_nav .dropdown-menu li a .fa {
    color: #1A1A1A;
    margin-right: 3px;
}
#sidebar-form{
    /*width: 260px;*/
    /*float: left;*/
    position: relative;
    z-index: 2;
    color: #fff;
    background: #2973ad;
}
#sidebar-form > h2, #sidebar-form .header {
    height: 44px;
    padding: 5px 0 5px 20px;
    color: #fff;
    font-size: 20px;
    line-height: 34px;
    background-color: #1f4d72;
    text-transform: uppercase;
    text-decoration: none;
}
#sidebar-form > h2 .icons, #sidebar-form .header .icons {
    float: left;
    width: 34px;
    padding: 0 5px;
    margin-right: 7px;
    color: #fff;
    font-size: 16px;
    line-height: 34px;
    text-align: center;
    background-color: #45CBDF;
    border-radius: 17px;
}
#sidebar-form fieldset {
    margin: 0;
    padding: 20px;
}
#sidebar-form .form-control {
    position: relative;
    min-height: 40px;
    height: auto;
    padding: 0;
    margin-bottom: 8px;
    border: none;
    background-color: transparent;
    box-shadow: none;
}

#sidebar-form .form-control select, #sidebar-form .form-control input[type="text"] {
    height: 38px;
    font-family: Lato, 'Open Sans', sans-serif;
    background-color: #195d93;
    border: 1px solid #2f7dba;
    border-radius: 20px;
    box-shadow: inset 0 0 10px 0px #093151;
    outline: none;
}
#sidebar-form .form-control select, #sidebar-form .form-control input[type="text"], #sidebar-form .form-control .select2 {
    width: 100%;
    min-height: 100%;
    padding: 0;
    color: #fff;
    font-size: 13px;
    font-weight: 300;
    line-height: 100%;
}
#sidebar-form .form-control select {
    padding: 0 20px 0 42px;
    text-overflow: ellipsis;
    background: #195d93 url(../images/select.png) no-repeat center right;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none !important;
    -ms-appearance: none;
    appearance: none;
}
#sidebar-form .form-control i {
    position: absolute;
    top: 7px;
    left: 2px;
    width: 32px;
    height: 24px;
    padding-top: 4px;
    font-size: 18px;
    color: #61A8E1;
    text-align: center;
    border-right: 1px solid #61A8E1;
}
#sidebar-form .form-control .select2-container .select2-selection {
    min-height: 40px;
    border: 1px solid #2f7dba;
    border-radius: 20px;
    background-color: #195d93;
    box-shadow: inset 0 0 10px 0px #093151;
}
#sidebar-form .form-control .select2-container .select2-selection--multiple .select2-selection__choice {
    margin-top: 8px;
    padding: 0 8px;
    color: #333;
    line-height: 20px;
    background: #fafafc;
    border: 1px solid #aeaeae;
    border-radius: 8px;
}
#sidebar-form .form-control .select2-container .select2-selection--multiple .select2-selection__rendered {
    float: left;
}

#sidebar-form .form-control .select2-container .select2-selection .select2-selection__rendered {
    color: #fff;
    padding: 0 0 0 42px;
}
#sidebar-form fieldset.collapse{
    display: block;
}
#sidebar-form .form-control .select2-container .select2-selection--multiple .select2-search__field {
    height: 38px;
    margin-top: 0;
    line-height: 38px;
    color: #fff;
}
.select2-search__field::placeholder{
    color: #fff;
}
#sidebar-form .sidebar--action {
    padding: 20px 20px;
}
#sidebar-form .sidebar--action .btn {
    margin: 0;
    width: 100%;
}
.btn.btn-lg.btn-primary {
    background: #eeb12e;
}
.btn.btn-lg {
    height: 40px;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 20px;
    border: none;
    outline: none;
    box-shadow: 0 0 5px 0 #595959;
}


/********* Landing ***********/
.section1 {
    width: 100%;
    float: left;
    padding: 0 0 125px;
    box-sizing: border-box;
    background: url(../images/bg-sec1.jpg) no-repeat center top;
}
.bar-sec1 {
    width: 100%;
    float: left;
    height: 130px;
    border: 1px solid #e3e3e3;
    background: #fff;
    margin-top: -49px;
    padding: 0 50px;
}
.bar1-sec1 {
    padding-top: 17px;
}

.bar1-sec1, .bar2-sec1 {
    width: 50%;
    float: left;
}
.bar2-sec1 {
    padding-left: 34px;
    padding-top: 17px;
    background: url(../images/line-bar.png) no-repeat center left;
}
.p1-bar {
    font-size: 18px;
    line-height: 24px;
    color: #565656;
    text-align: left;
    width: 260px;
    float: left;
    font-family: 'Charlotte Sans Book';
}
.logo-bar {
    float: left;
    margin: 10px 0 0 100px;
    color: #5A5A5A;
    font-size: 60px;
}
.p1-bar span {
    font-size: 20px;
    line-height: 20px;
    color: #0074cf;
    text-transform: uppercase;
    font-family: 'CharlotteSansBoldPlain';
    padding-bottom: 6px;
    display: inline-block;
}
.points-sec1 {
    width: 100%;
    float: left;
    margin-top: 72px;
    position: relative;
    background: url(../images/line-sec1.png) no-repeat 264px 43px;
}
.pointsin-sec1 {
    width: 33.33%;
    float: left;
    padding: 0 45px;
    text-align: center;
}
.p1-sec1 {
    margin: 43px 0 18px;
}

.p1-sec1, .p2-sec2abt {
    font-size: 24px;
    line-height: 24px;
    color: #0074cf;
    text-transform: uppercase;
    font-family: 'CharlotteSansBoldPlain';
}
.p2-sec1 {
    color: #2f2f2f;
    line-height: 28px;
    font-family: 'Charlotte Sans Book';
}

.cmntxt {
    font-size: 20px;
}
.p3-sec1 {
    color: #6b6b6b;
    line-height: 32px;
    width: 72%;
    margin: 66px auto 0;
    display: inline-block;
    font-family: 'Charlotte Sans Book';
}
.section2 {
    width: 100%;
    float: left;
    padding: 0 0 95px;
    box-sizing: border-box;
    background: url(../images/sec2-bg.jpg) no-repeat center top #fff;
    border-top: 1px solid #e9ecfa;
}
.sec2-lft {
    width: 600px;
    float: left;
    text-align: left;
}
.p1-sec2 {
    margin: 123px 0 11px;
}

.p1-sec2, .p5-abt {
    font-size: 42px;
    line-height: 42px;
    color: #0074cf;
    text-transform: uppercase;
    font-family: 'CharlotteSansBoldPlain';
}
.p2-sec2 {
    font-size: 24px;
    line-height: 30px;
}
.img-sec2 {
    position: absolute;
    left: 701px;
    top: -25px;
}
.mrgn1 {
    margin-top: 33px;
}

.p4-sec2 {
    width: 100%;
    float: left;
}
.ic-sec2 {
    float: left;
    margin: 0 10px 0 15px;
}
.p4-sec2 span.span1 {
    display: table;
    text-align: left;
    line-height: 24px;
}
.p4-sec2 span.span1 span {
    font-size: 24px;
    color: #1b1b1b;
}
.p5-sec2 {
    font-size: 14px;
    line-height: 14px;
    color: #5b7af8;
    text-align: center;
    padding: 18px 0 17px;
    margin: 48px auto 0;
    width: 170px;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #5b7af8;
    border-radius: 27px;
    text-transform: uppercase;
}
.strip {
    width: 100%;
    float: left;
    padding: 78px 0 78px;
    box-sizing: border-box;
    background: #edf5fd;
    border-top: 1px solid #e9ecfa;
}
.p1-strip, .p1-strip1-abt {
    font-size: 30px;
    line-height: 30px;
    color: #0074cf;
    text-transform: uppercase;
    font-family: 'CharlotteSansBoldPlain';
}
.p2-strip {
    line-height: 30px;
    width: 52%;
    margin: 12px auto 24px;
    letter-spacing: -0.3px;
}
.p3-strip, .p3-strip1-abt {
    font-size: 18px;
    line-height: 18px;
    padding: 10px 0 10px;
    margin: 0 auto;
    width: 163px;
    border-radius: 21px;
}
/******** Features page ********/
.section1-fea {
    width: 100%;
    float: left;
    padding: 82px 0 0px;
    box-sizing: border-box;
    background: url(../images/bg-sec1fea.jpg) no-repeat center top;
}
.p1-abt {
    text-align: center;
    color: #0074cf;
}
.w1-fea {
    width: 65%;
}

.p2-abt {
    margin: 0 auto;
    text-align: center;
    font-family: 'Charlotte Sans-MediumPlain';
}
.w5-fea {
    width: 64%;
}
.m1-fea {
    margin: 109px auto 0;
}

.p3-abt {
    text-align: center;
    color: #484848;
    line-height: 32px;
}
.p3-sec1fea {
    font-size: 36px;
    line-height: 36px;
    color: #0074cf;
    text-transform: uppercase;
    margin: 107px auto 9px;
    font-family: 'CharlotteSansBoldPlain';
}
.p4-sec1fea {
    color: #565656;
    line-height: 24px;
    width: 67%;
    margin: 0 auto;
}
.counter-fea {
    margin: 30px auto 0;
}
.flip-clock-wrapper {
    text-align: center;
    position: relative;
    width: auto;
    margin: 0 auto;
    display: table;
}
.section2-fea {
    width: 100%;
    float: left;
    padding: 95px 0 114px;
    box-sizing: border-box;
}
.w4-fea {
    width: 69%;
}

.p6-abt {
    font-size: 24px;
    line-height: 28px;
    padding-top: 18px;
    margin: 0 auto;
    letter-spacing: -0.3px;
}
.points-fea {
    width: auto;
    display: table;
    margin: 40px auto 0;
}
.h1-fea {
    height: auto;
}

.pointsin-fea {
    width: 350px;
    float: left;
    text-align: center;
}
.h1-fea {
    height: auto;
}

.m2-fea {
    margin: 0 30px;
}
.m3-fea {
    margin-top: 45px;
}
.img-sec2fea {
    float: left;
    margin-right: 15px;
}
.p4-sec2fea {
    font-size: 20px;
    line-height: 24px;
    color: #0074cf;
    margin-top: 28px;
    text-transform: uppercase;
    font-family: 'CharlotteSansBoldPlain';
}
.p5-sec2fea {
    line-height: 26px;
    margin-top: 12px;
    color: #6b6b6b;
    letter-spacing: -0.2px;
}
.pointsin-txt-fea {
    display: table;
    text-align: left;
}
.h1-fea {
    height: auto;
}
ul.list-fea {
    width: 100%;
    float: left;
    margin: 15px 0 20px;
    padding-left: 20px;
}
ul.list-fea li {
    width: 100%;
    float: left;
    margin-top: 5px;
    color: #6b6b6b;
    letter-spacing: -0.2px;
    line-height: 20px;
    font-size: 18px;
    list-style: disc;
}

ul li:first-child {
    padding-left: 0;
}
ul li:last-child {
    padding-right: 0;
    border-right: none;
}
/********** About page *************/
.section1-abt {
    width: 100%;
    float: left;
    padding: 82px 0 104px;
    box-sizing: border-box;
    background: url(../images/bg-sec1abt.jpg) no-repeat center top;
}
.w4-abt {
    width: 51%;
}

.m1-abt {
    margin: 199px auto 0;
}
.w5-abt {
    width: 71%;
}
.points1-abt {
    width: auto;
    margin: 115px auto 69px;
    display: table;
}
.points1in1-abt {
    background: #f0eeff;
    color: #5236c6;
}
.points1in-abt {
    width: 210px;
    height: 148px;
    float: left;
    text-align: center;
    position: relative;
    padding: 0 17px;
    border-radius: 5px;
}
.ic1-sec1abt {
    top: 30px;
}
.ic-sec1abt {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.p4-abt {
    font-size: 36px;
    line-height: 28px;
    margin-top: 86px;
    text-transform: uppercase;
    font-family: 'CharlotteSansBoldPlain';
}
.arrow-sec1abt {
    float: right;
}
.points1in2-abt {
    background: #fcf1e9;
    color: #ff9c55;
    margin: 0 70px;
}
.points1in3-abt {
    background: #d7f4e6;
    color: #06d79e;
}
.m2-abt {
    margin: 0 auto;
}
.strip1-abt {
    width: 100%;
    height: auto;
    float: left;
    padding-bottom: 25px;
    background: url(../images/bg-strip1abt.jpg) no-repeat center top;
    background-size: cover;
}
.strip1-lft {
    width: 56%;
    padding-top: 42px;
}

.strip1-lft, .strip1-rgt {
    float: left;
    padding-left: 70px;
}
.p1-strip1-abt {
    text-align: left;
}
.p2-strip1-abt {
    text-align: left;
    line-height: 30px;
    margin: 12px 0 24px;
    width: 90%;
}
.p3-strip1-abt {
    float: left;
}
.strip1-rgt {
    width: 44%;
    padding-top: 55px;
}
.strip1-rgtin {
    width: 300px;
    float: left;
    border: 1px solid #edf5fd;
    border-radius: 5px;
    position: relative;
    width: 352px;
    height: 80px;
}
.w1-abt {
    width: 70%;
}
.ic2-sec1abt {
    top: 23px;
}
.ic3-sec1abt {
    top: 31px;
}
.p4-strip1-abt {
    text-align: left;
    line-height: 26px;
    padding: 17px 0 0 18px;
}
.ic-strip1abt {
    float: left;
    margin-right: 16px;
}
.p4-strip1-abt span {
    display: block;
    margin-top: -5px;
}
.arrow-strip1abt {
    position: absolute;
    right: 20px;
    bottom: 10px;
}
.m3-abt {
    margin: 10px 0;
}
.w2-abt {
    width: 50%;
}
.w3-abt {
    width: 85%;
}
.section2-abt {
    width: 100%;
    float: left;
    padding: 95px 0 98px;
    box-sizing: border-box;
}
.points2-abt {
    width: auto;
    display: table;
    margin: 37px auto 0;
}
.points2in-abt {
    width: 30%;
    float: left;
    text-align: center;
    padding: 0 20px;
}
.imgdiv-sec2abt {
    height: 116px;
    width: 100%;
    float: left;
}
.img4-sec2abt {
    margin-top: 9px;
}
.p1-sec2abt {
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    color: #473f3f;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: inline-block;
    padding: 3px 21px 1px;
    margin-top: 1px;
    font-family: 'Charlotte Sans-MediumPlain';
}
.p2-sec2abt {
    margin: 20px 0 8px 0;
}
.p3-sec2abt {
    line-height: 30px;
    color: #6b6b6b;
}
.m5-abt {
    margin: 0 30px;
}
.p4-sec2 {
    display: flex;
    align-items: center !important;
    margin-bottom: 10px;
}
.mb30 {
    margin-bottom: 30px;
}
.mt30 {
    margin-top: 30px !important;
}
.mt50 {
    margin-top: 50px !important;
}
.dflex {
    display: flex;
}
.dinline_block {
    display: inline-block;
}
.items-center {
    align-items: center;
}
.fs26 {
    font-size: 26px;
}
.fw600 {
    font-weight: 600;
}
.ls1 {
    letter-spacing: 1px;
}

